<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="OnClick()" expand="block" fill="clear">
    Button
  </ion-button>
  <ion-button (click)="OnClick2()" expand="block" fill="clear">
    Button2
  </ion-button>

</ion-content>
